body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

span.selected {
	background: black;
	color: white;
}
.style-0 {
	background: #FFC;
}
.style-1 {
	background: #FCC;
}
.style-2 {
	background: #FCF;
}
.style-3 {
	background: #CCF;
}
.style-4 {
	background: #CFF;
}
.style-5 {
	background: #CFC;
}

pre {
	white-space: pre;
    padding: 0;
	margin: 0;
	border: none;
	line-height: 16px;
}

.main {
	position: fixed;
	width: 100%;
	height: 100%;
}

table, tbody {
    padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.visu-panel {
    padding: 16px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
    border-right: 1px solid #CCC;
	height: 100%;
}

td, tr {
    padding: 0;
	margin: 0;
    border-right: 1px solid #CCC;
	height: 100%;
}

td {
	width: 50%;
}